# Node / Dependencies
**/node_modules
**/dist
**/build
**/package-lock.json

# Environment / Secrets
**/.env
**/.env.local
**/.env.*.local
**/id.json
**/*.key
**/*.pem
**/*.keypair.json

# Solana / Anchor
**/target
**/*.so
**/.anchor
**/deploy/*.json

# Next.js
**/.next
**/out

# IDE / System
**/.vscode
**/.idea
**/.DS_Store
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

.vercel
